
@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Department</h2>

<div class="jumbotron">
    <p>@Html.ActionLink("Dev", "DepartmentDetails", "Home", new { departmentName = "Dev" }, null)</p>
    <p>@Html.ActionLink("QA", "DepartmentDetails", "Home", new { departmentName = "QA" }, null)</p>
    <p>@Html.ActionLink("DevOps", "DepartmentDetails", "Home", new { departmentName = "DevOps" }, null)</p>
</div>